server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: orders
          uri: http://orders-service:8081
          predicates:
            - Path=/orders/**
        - id: billing
          uri: http://billing-service:8082
          predicates:
            - Path=/billing/**
        - id: inventory
          uri: http://inventory-service:8083
          predicates:
            - Path=/inventory/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
